@import "./variables.scss"; // 2 sekilde de ekleyebiliyoruz
@import "main"; // 2 sekilde de ekleyebiliyoruz
@import "./nav.scss";
@import "footer";

*{
    margin: 0;
    padding: 0;
    font: {
        family: Gotham, "Hevletica Neue", Helvetica, Arial, "sans-serif";
        size : 15px;
        style : normal;
        weight : bold;
    }
}

.for-inherit{
    background-color: $primary-color;
    height: 100vh;
}

body{
    @extend .for-inherit;
}